p
{
    cursor: auto;
    cursor: wait;
    cursor: crosshair;
    cursor: default;
    cursor:help;
    cursor: move;
    cursor: pointer;
    cursor: progress;
    cursor: s-resize;
    cursor: e-resize;
    cursor: ew-resize;
}