a:link{
    color: aliceblue;
    text-decoration: none;
}
a:visited
{
    color:red;
    background-color: blueviolet;
}
a:hover{
    color: firebrick;
    text-decoration: underline;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
a:active
{
    color: blue
    ;
}