div
{
    border: 1px solid black;
    transform: rotate(20deg);
    transform: translate(50px,100px);
    transform: scale(2,3);/*++*/
    transform: scale(0.5,0.5);/*--*/
    transform: skewX(20deg);
    transform: skewY(20deg);
    transform:matrix(1,-0.3,0,1,0,0);
    transform: rotateX(20deg);
    transform: rotateY(50deg);
}
